<div class="box mt-5">
  <div class="my-2 w-25">
<app-select [data]="categories" [title]="'Categories'" (selectedData)="filterCategorie($event)"></app-select>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-3 col-sm-12" *ngFor="let item of products"  routerLinkActive="router-link-active" >
      <app-product [data]="item" (item)="addToCard($event)"></app-product>
    </div>
    </div>
</div>

<div class="w-100 text-center" *ngIf="loading">
  <app-spinner></app-spinner>
</div>

