<div class="box mt-5">
  <div class="my-2 w-25">
<app-select [data]="categories" [title]="'Categories'" (selectedData)="filterCategorie($event)"></app-select>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-3 col-sm-12" *ngFor="let item of products">
      <div class="item">
        <img src="{{item.image}}" alt="">
        <div class="body">
          <h5> {{item.title}} </h5>
          <p> {{item.description}} </p>
        </div>
        <div class="px-3 mb-3 d-flex justify-content-between align-items-center">
          <button class="btn btn-success"> Add to cart</button>
          <span> {{item.price}} </span>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="w-100 text-center" *ngIf="loading">
  <app-spinner></app-spinner>
</div>

